<h1>Invitations</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |invitation index|}}
    <tr>
      <th>{{index}}</th>
      <th>{{invitation.id}}</th>
      <td>{{invitation.email}}</td>
      <td>
        <div class="panel-footer text-center">
         <button class="btn btn-danger btn-xs" {{action 'deleteInvitation' invitation}}>Delete</button>
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>