<link href="https://fonts.googleapis.com/css?family=Saira:400,700&display=swap" rel="stylesheet">

<div class="dt-footer-questions-wrapper">
    <div class="dt-footer-question">
        <p class="duvidas-comuns">Perguntas Frequentes</p>
    </div>
    <div class="dt-footer-question">
        <p faq-search="2b489183-71af-4206-8889-25cd929e26ce" class="dt-faq-question list">Conheça o Atendimento da XDEX</p>
        <p faq-search="36ab7096-737f-4904-a817-c45410010ec8" class="dt-faq-question list">Posso depositar e resgatar criptomoedas na XDEX?</p>
        <p faq-search="1459080b-147f-4290-b611-39a0b85c0793" class="dt-faq-question list">Quais as taxas cobradas em cada transação?</p>
        <p faq-search="d4e032c6-ed07-4c3b-9fa3-a8c25c1093ce" class="dt-faq-question list">Qual o prazo para aprovação de depósito?</p>
    </div>
    <div class="dt-footer-question2">
       <p faq-search="fb01d5e7-a4ea-4863-a257-be4a06b5d63f" class="dt-faq-question list">Como recupero meu Token?</p>
        <p faq-search="7ead974f-b088-4acb-ac77-c05a2585ea23" class="dt-faq-question list">Token inválido / Erro no Token</p>
        <p faq-search="b593761c-055a-40e6-bba4-dc6438768fc0" class="dt-faq-question list">Aplicativo em Manutenção / Serviço em Manutenção</p>
        <p faq-search="e0ddcab6-e324-4937-b662-655d6b4e99e0" class="dt-faq-question list">Qual é o valor mínimo para negociar Criptomoedas?</p>
    </div>
</div>

<div class="mosaico">
        <div class="footer-box xdex">
            <p class="dt-faq-question-title"><img class="dt-faq-icon" src="https://files.directtalk.com.br/1.0/api/file/public/46efa5a5-96f8-42eb-bd19-4590cff031f7/content-inline">Para Começar</p>
            <div faq-categories></div>
        </div>
        <div class="footer-box negociacao">
            <p class="dt-faq-question-title"><img class="dt-faq-icon" src="https://files.directtalk.com.br/1.0/api/file/public/d6ad0e9f-6d81-471f-9a7a-556e8bab14c8/content-inline">Minha conta e login</p>
            <div faq-categories></div>
        </div>
        <div class="footer-box financeiro">
            <p class="dt-faq-question-title"><img class="dt-faq-icon" src="https://files.directtalk.com.br/1.0/api/file/public/406fec93-7ace-4c36-8235-f99ddf9fe1ef/content-inline">Meus Investimentos</p>
            <div faq-categories></div>
        </div>
        <div class="footer-box seguranca">
            <p class="dt-faq-question-title"><img class="dt-faq-icon" src="https://files.directtalk.com.br/1.0/api/file/public/3cb38b3c-3a0e-49cc-ad34-1c8a7681675b/content-inline">Negociando criptomoedas</p>
            <div faq-categories></div>
        </div>
        <div class="footer-box cadastro">
            <p class="dt-faq-question-title"><img class="dt-faq-icon" src="https://files.directtalk.com.br/1.0/api/file/public/41e66703-a0a1-4cb3-b7ad-ee88f06755c3/content-inline">Vire um Expert</p>
            <div faq-categories></div>
        </div>
        <div class="footer-box ativos">
            <p class="dt-faq-question-title"><img class="dt-faq-icon" src="https://files.directtalk.com.br/1.0/api/file/public/ebeaa3b7-29ec-4068-acab-c43bc118757e/content-inline">Tópicos mais acessados</p>
            <div faq-categories></div>
        </div>
</div>
<script>
    
    
    function showTel(){
        document.querySelector('.hide-tel').style.display = 'block';
    }
    
    function openChat(){
        window.open('https://www3.directtalk.com.br/clientes/custom/directtalk/bot/?token=0effd8d8-cf5a-4fde-b495-bd97da1aa627&botopenned=true', 'popupBot', 'width=420,height=680');
    }
    
    function openMail(){
        window.parent.postMessage("openMail", "*")
    }
</script>