<h2>Custom Checkboxes</h2>
<label class="custom-check">One
  <input type="checkbox" checked="checked">
  <span class="custom-check-checkmark"></span>
</label>
<label class="custom-check">Two
  <input type="checkbox">
  <span class="custom-check-checkmark"></span>
</label>
<label class="custom-check">Three
  <input type="checkbox">
  <span class="custom-check-checkmark"></span>
</label>
<label class="custom-check">Four
  <input type="checkbox">
  <span class="custom-check-checkmark"></span>
</label>

<div class="checkbox">
    <input type="checkbox" id="checkbox_1">
    <label for="checkbox_1">Pure CSS Checkbox</label>
</div>
